# Docker build images on tag
name: Build&Push Images
on:
  push:
    tags:
      - '*'

env:
  IMAGE_TAGS: ${{  github.ref_name }}
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-push-ghcr:
    name: Build&Push
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install qemu dependency
        # we need quemu-user-static for builds other archs with buildah
        # https://github.com/containers/podman/issues/13924#issuecomment-1103434554
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static

      - name: Build Image
        id: build_image
        uses: redhat-actions/buildah-build@main
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAGS }} latest
          platforms: linux/386, linux/amd64, linux/s390x, linux/arm64/v8
          containerfiles: |
            ./Dockerfile.gh

      # Push the image manifest to GHCR
      - name: Push To GHCR
        id: push-to-ghcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Echo outputs
        run: |
          echo "${{ toJSON(steps.push-to-ghcr.outputs) }}"
