name: Release Charts and Images

on:
  push:
    branches:
    - master
    paths:
    - 'charts/**'
    - 'src/**'
    - 'Dockerfile*'

env:
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Get Chart Info
      id: chart_info
      run: |
        VERSION=$(grep '^version:' charts/cluster-secret/Chart.yaml | awk '{print $2}')
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Run chart-releaser
      uses: helm/chart-releaser-action@v1.7.0
      with:
        config: cr.yaml
        charts_dir: charts
      env:
        CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    # --- Image Builds ---
    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Image (amd64)
      id: build_image_amd64
      uses: redhat-actions/buildah-build@v2
      with:
        image: ${{ env.IMAGE_NAME }}
        tags: ${{ steps.chart_info.outputs.version }}-amd64 latest-amd64
        platforms: linux/amd64
        containerfiles: |
          ./Dockerfile.gh

    - name: Push to GHCR (amd64)
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build_image_amd64.outputs.image }}
        tags: ${{ steps.build_image_amd64.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Install qemu dependency
      run: |
        sudo apt-get update
        sudo apt-get install -y qemu-user-static

    - name: Build Image (arm64)
      id: build_image_arm64
      uses: redhat-actions/buildah-build@v2
      with:
        image: ${{ env.IMAGE_NAME }}
        tags: ${{ steps.chart_info.outputs.version }}-arm64 latest-arm64
        platforms: linux/arm64/v8
        containerfiles: |
          ./Dockerfile.gh

    - name: Push to GHCR (arm64)
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build_image_arm64.outputs.image }}
        tags: ${{ steps.build_image_arm64.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Create and push manifest
      env:
        VERSION: ${{ steps.chart_info.outputs.version }}
      run: |
        docker manifest create \
          ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }} \
          --amend ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}-amd64 \
          --amend ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}-arm64
        docker manifest push ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}

        docker manifest create \
          ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:latest \
          --amend ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:latest-amd64 \
          --amend ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:latest-arm64
        docker manifest push ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
